<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="app.build.css" rel="stylesheet">
    </head>
    <body><h1 class="underline text-3xl font-bold bg-sky-700">Hello prettier!</h1></body>
</html>
